@font-face {
  font-family: 'piratefont';
  src: url(assets/font/BlackPearl.ttf);
}

::selection {
  user-select: none;
}

* {
  box-sizing: border-box;
}

.display-none{
  display: none;
}

body {
  height: 100vh;
  position: relative;
  background-image: url(./assets/img/pirate-bay-background.jpg);
  text-align: center;
  background-size: cover ;
  background-repeat: no-repeat;
  background-color: #000000;
}

header {
  text-align: center;
  position: relative;
  font-size: 2.5em;
  font-family: 'piratefont';
  color: black;
}

.main-container{
  max-width: 1200px;
  margin: auto 25%;
  position: absolute;
  bottom: 1px;
  text-align: center;
}

#waiting{
   position: absolute;
   bottom: 0;
   width: 100%;
   padding-bottom: 50%;
}

.scoreContainer {
  display: inline-block;
  width: 200px;
  height: 201px;
  font-size: 1.3em;
  font-family: 'piratefont';
  text-align: center;
  color: white;
  position: relative;
  background-image: url(./assets/img/player-board.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#resetBtn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

#resetBtn {
  border-radius: 1vmin;
  box-shadow: -1px -1px 11px rgba(0,0,0,.4);
  border: none;
  background-color: #E6CD96FF;
}

.game-area {
  display: inline-block;
  position: relative;
  min-width: 912px;
  min-height: 771px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  background-image: url(./assets/img/game-board.png);
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 0;
}

.win{
  width: 100%;
  display: inline-block;
  font-size: 1.7em;
  color: #e5e4c8;
  margin-top: 40px;
}

.chip-display {
  position: absolute;
  width: 100%;
  height: 16.6%;
  cursor: hand;
  z-index: -1;
}

.column-area{
  min-width: 785px;
  height: 540px;
  position: relative;
  margin-top: 30px;
  font-size: 0;
}

.chip-display img{
  width: 100%;
}

.column-display{
  width: 14.2%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.column-display:hover{
  cursor: pointer;
}

.score{
  display: inline-block;
  width: 25%;
  max-width: 298px;
  height: 40vh;
  overflow: hidden;
  margin: 0 2%;
  width: 50% !important;
  font-size: .9em;
  color: white;
  position: relative;
  background-image: url(./assets/img/player-board.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.player1{
  background-image: url(./assets/img/pirate-coin-5.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.player2{
  background-image: url(./assets/img/spanish-coin-3.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.player-container{
  height: 119px;
  width: 454px;
  display: inline-block;
  background-image: url(./assets/img/player-turn-background.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'piratefont';
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px;
}

.player{
  display: inline-block;
  width: 26%;
  height: 80%;
  margin-top: 13px;
  margin-right: 5px;
}

.player-flag{
  display: inline-block;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 37%;
  height: 80%;
  margin-top: 13px;
}

.player-reset{
  display: inline-block;
  width: 26%;
  height: 80%;
  margin-top: 13px;
  margin-left: 5px;
}

.loadingModal {
  font-family: 'piratefont';
  color: white;
  display: none;
  height:100vh;
  width:100vw;
  position: absolute;
  top:0;
}

.modalBG {
  /*background-color: rgba(0,0,0,.5);*/
  height:100%;
  width:100%;
  background-image: url('./assets/img/modal_background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.coinModal {
  background-color: rgba(0,0,0,.5);
  height:100%;
  width:100%;
}

.modalMain{
  height: 50%;
  width: 50%;
  justify-content: center;
  transform: translate(50%,50%);
}

.playerChooseDiv:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

#piratesFlag {
  width: 49%;
  height: 50%;
  padding: 1vmin;
  display: inline-flex;
  border-radius: 1vmin;
  box-shadow: -5px -5px 11px rgba(0,0,0,.4);
  background-image: url('./assets/img/pirate_flag.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#spanishFlag {
  width: 49%;
  height: 50%;
  padding: 1vmin;
  display: inline-flex;
  border-radius: 1vmin;
  box-shadow: -5px -5px 11px rgba(0,0,0,.4);
  background-image: url('./assets/img/spanish_flag.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#endGameModal {
  font-family: 'piratefont';
  display: none;
  height:100vh;
  width:100vw;
  position: absolute;
  top:0;
}

#endModalHeader {
  height: 25%;
  width: 100%;
  margin-top: 5%;
  font-size: 6vmin;
  display: inline-flex;
  justify-content: center;
  text-align: center;
}

.endGameBtn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

#playAgainBtn {
  width: 20%;
  height: 20%;
  padding: 1vmin;
  font-size: 2vmin;
  border-radius: 1vmin;
  box-shadow: -1px -1px 11px rgba(0,0,0,.4);
  border: none;

  background-color: #E6CD96FF;
}

#playAgainDiv {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

#modalHeader {
  height: 25%;
  width: 100%;
  margin-top: 5%;
  font-size: 6vmin;
  display: inline-flex;
  justify-content: center;
  text-align: center;
}

#changeAllegianceBtn {
  width: 26%;
  height: 20%;
  padding: 1vmin;
  margin-left: 1vmin;
  font-size: 2vmin;
  border-radius: 1vmin;
  box-shadow: -1px -1px 11px rgba(0,0,0,.4);
  border: none;
  background-color: red;
}
