.loadingModal {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
}
.modalBG {
  background: grey;
  opacity: 0.5;
  height:100%;
  width:100%;
}
.modalMain{
  height:50%;
  display: flex;
  justify-content: center;
  z-index:1;
}
.modal>h1 {
  color: green;
  text-align: center;

}

#endGameModal {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
}

#EGMHeader {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  z-index:1;  
}

#playAgainBtn {
  width: 25%;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 3vmin;
  align-self: center;
}